:root {
  --footer-height: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
header.header {
  width: 100%;
  height: 100px;
  background-color: greenyellow;
}

footer.footer {
  width: 100%;
  height: 150px;
  background-color: gray;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - var(--footer-height));
}

main {
  height: 1000px;
  flex-grow: 1;
}

.box {
  display: flex;
  color: red;
}
.box-item {
  flex-grow: 1;
  display: block;
  width: 100px;
  height: 100px;
  background-color: grey;
}
.box-item:first-child {
  flex-grow: 1;
} */

.services-digital__main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.services-digital__name {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 40px;
  word-break: break-word;
}

.services-digital__price {
  font-weight: 700;
  color: black;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 5px 8px;
  margin-bottom: auto;
}

.services-digital__price  span {
  color: gray;
  font-weight: 400;
  text-decoration: line-through;
  vertical-align: baseline;
}